
      

                    h4.unseen_message{
                        font-weight: 700 !important;
                    }
                    h4{
                        color: var(--text-color);
                        font-weight: 300;
                    }
                    .msg-time{
                        span.unseen_message{
                            font-weight: 700 !important;
                        }
                        span{
                            font-size: 12px;
                            color: var(--text-color);
                        }
                    }
                
                .seen-unseen-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                    }
                    .unseen,.delivared{
                        color: var(--text-color);
                    }
                   
                }
        
           

